In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.\
builder.\
appName("predictive_maintenance_process").\
config("spark.executor.memory", "1g").\
config("spark.mongodb.read.connection.uri","mongodb+srv://MedDB:M0h%40med17125399%3B@cluster0.dbyavcr.mongodb.net/?retryWrites=true&w=majority").\
config("spark.mongodb.write.connection.uri","mongodb+srv://MedDB:M0h%40med17125399%3B@cluster0.dbyavcr.mongodb.net/?retryWrites=true&w=majority").\
config("spark.jars.packages", "org.mongodb.spark:mongo-spark-connector:10.0.3").\
getOrCreate()

df = spark.read.format("mongodb").option('database', 'predictive_maintenance').option('collection', 'Sensors_Data').load()

df.show()

In [24]:
import pandas as pd
df = df.toPandas()
df = df.drop(["UDI"],axis=1)
df.sample(6).style.set_properties(
    **{
        'background-color': 'Brown',
        'color': 'white',
        'border-color': 'White'
    })

In [25]:
df["Air temperature K"] = df["Air temperature K"] - 272.15
df["Process temperature K"] = df["Process temperature K"] - 272.15

# Renaming temperature in Centigrate(°C) from Kelvin (K)
df.rename(columns={"Air temperature K" : "Air temperature °C","Process temperature K" : "Process temperature °C"},inplace=True)

In [26]:
df["Temperature difference °C"] = df["Process temperature °C"] - df["Air temperature °C"]
df.sample(5)

,Product ID,Type,Air temperature °C,Process temperature °C,Rotational speed rpm,Torque Nm,Tool wear min,Target,Failure Type,dateTime,Temperature difference °C
3220,M18080,M,28.55,37.45,1525,36.5,71,0,No Failure,2022-01-22 17:28:20,8.9
6524,L53704,L,28.95,38.25,1874,24.8,47,0,No Failure,2022-01-22 22:03:40,9.3
7241,M22101,M,27.75,37.85,1484,42.1,182,0,No Failure,2022-01-22 23:03:25,10.1
7467,H36881,H,28.15,39.45,1463,41.6,102,0,No Failure,2022-01-22 23:22:15,11.3
5920,L53100,L,28.35,38.05,1764,25.9,27,0,No Failure,2022-01-22 21:13:20,9.7

In [27]:
grouped = df.groupby('Type')
fd_grouped_M=grouped.get_group('M')

fd_grouped_M

,Product ID,Type,Air temperature °C,Process temperature °C,Rotational speed rpm,Torque Nm,Tool wear min,Target,Failure Type,dateTime,Temperature difference °C
0,M14860,M,25.95,36.45,1551,42.8,0,0,No Failure,2022-01-22 13:00:00,10.5
5,M14865,M,25.95,36.45,1425,41.9,11,0,No Failure,2022-01-22 13:00:25,10.5
8,M14868,M,26.15,36.55,1667,28.6,18,0,No Failure,2022-01-22 13:00:40,10.4
9,M14869,M,26.35,36.85,1741,28.0,21,0,No Failure,2022-01-22 13:00:45,10.5
12,M14872,M,26.45,36.95,1339,51.1,34,0,No Failure,2022-01-22 13:01:00,10.5
...,...,...,...,...,...,...,...,...,...,...,...
9989,M24849,M,26.65,36.35,1577,33.2,0,0,No Failure,2022-01-23 02:52:25,9.7
9991,M24851,M,26.75,36.25,1827,26.1,5,0,No Failure,2022-01-23 02:52:35,9.5
9995,M24855,M,26.65,36.25,1604,29.5,14,0,No Failure,2022-01-23 02:52:55,9.6
9997,M24857,M,26.85,36.45,1645,33.4,22,0,No Failure,2022-01-23 02:53:05,9.6
9999,M24859,M,26.85,36.55,1500,40.2,30,0,No Failure,2022-01-23 02:53:15,9.7

In [21]:
fd_grouped_L=grouped.get_group('L')

fd_grouped_L

,UDI,Product ID,Type,Air temperature K,Process temperature K,Rotational speed rpm,Torque Nm,Tool wear min,Target,Failure Type,dateTime
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,No Failure,2022-01-22 13:00:05
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,No Failure,2022-01-22 13:00:10
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,No Failure,2022-01-22 13:00:15
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,No Failure,2022-01-22 13:00:20
6,7,L47186,L,298.1,308.6,1558,42.4,14,0,No Failure,2022-01-22 13:00:30
...,...,...,...,...,...,...,...,...,...,...,...
9988,9989,L57168,L,298.9,308.6,1771,24.1,213,0,No Failure,2022-01-23 02:52:20
9990,9991,L57170,L,298.8,308.5,1527,36.2,3,0,No Failure,2022-01-23 02:52:30
9992,9993,L57172,L,298.8,308.4,1484,39.2,8,0,No Failure,2022-01-23 02:52:40
9993,9994,L57173,L,298.8,308.4,1401,47.3,10,0,No Failure,2022-01-23 02:52:45
9994,9995,L57174,L,298.8,308.3,1634,27.9,12,0,No Failure,2022-01-23 02:52:50

In [22]:
fd_grouped_H=grouped.get_group('H')

fd_grouped_H
fd_grouped_H.to_csv('machine_details.csv',index=False)

,UDI,Product ID,Type,Air temperature K,Process temperature K,Rotational speed rpm,Torque Nm,Tool wear min,Target,Failure Type,dateTime
10,11,H29424,H,298.4,308.9,1782,23.9,24,0,No Failure,2022-01-22 13:00:50
11,12,H29425,H,298.6,309.1,1423,44.3,29,0,No Failure,2022-01-22 13:00:55
18,19,H29432,H,298.8,309.2,1306,54.5,50,0,No Failure,2022-01-22 13:01:30
20,21,H29434,H,298.9,309.3,1375,42.7,58,0,No Failure,2022-01-22 13:01:40
27,28,H29441,H,299.1,309.4,1811,24.6,77,0,No Failure,2022-01-22 13:02:15
...,...,...,...,...,...,...,...,...,...,...,...
9978,9979,H39392,H,298.6,308.3,1377,52.1,181,0,No Failure,2022-01-23 02:51:30
9984,9985,H39398,H,298.7,308.4,1432,42.8,197,0,No Failure,2022-01-23 02:52:00
9985,9986,H39399,H,298.7,308.5,1572,35.6,202,0,No Failure,2022-01-23 02:52:05
9996,9997,H39410,H,298.9,308.4,1632,31.8,17,0,No Failure,2022-01-23 02:53:00
9998,9999,H39412,H,299.0,308.7,1408,48.5,25,0,No Failure,2022-01-23 02:53:10

In [ ]:
#write data on mongodb Atlas
fd_grouped_H.write\
    .format('com.mongodb.spark.sql.DefaultSource')\
    .option( "uri", "mongodb+srv:// MedDb:M0hamed17125399@cluster0.dbyavcr.mongodb.net/predictive_maintenance.machine_details_H") \
    .save()

In [ ]:
#write data on mongodb Atlas
fd_grouped_M.write\
    .format('com.mongodb.spark.sql.DefaultSource')\
    .option( "uri", "mongodb+srv:// MedDb:M0hamed17125399@cluster0.dbyavcr.mongodb.net/predictive_maintenance.machine_details_M") \
    .save()

In [ ]:
#write data on mongodb Atlas
fd_grouped_L.write\
    .format('com.mongodb.spark.sql.DefaultSource')\
    .option( "uri", "mongodb+srv:// MedDb:M0hamed17125399@cluster0.dbyavcr.mongodb.net/predictive_maintenance.machine_details_L") \
    .save()